/Java/EjemplosVariables/build/
/Java/EjemplosVariables/dist/
/Java/Operadores/dist/
/Java/OperadoresAsignacion/dist/
/Java/OperadoresComparacion/build/
/Java/OperadoresComparacion/dist/
/Java/SalidasJava/dist/
/Java/TiposdeDatos/dist/
/Java/TiposdeVariables/dist/