<div class="container add-product-container">
    <div>
        <mat-card>
            <h3 style="text-align: center">Product Data</h3>
            <div>                
                <mat-form-field appearance="outline" class="form-element">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)] ="productForm.name" />
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button color="primary" (click)="create()">Save</button>
            </div>
        </mat-card>
    </div>
</div>